body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

h1 {
  margin-top: 20px;
  color: chocolate;
  text-align: center;
}

video {
  border: 2px solid chocolate;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #664605;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab8;
}

button:active {
  background-color: #285a8a;
}

button:focus {
  outline: none;
}

div {
  text-align: center; /* Align buttons and video at the center */
}
